<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88774670639-2t45cjurthf6t71sdt221pr5luuqgbck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88774670639-2t45cjurthf6t71sdt221pr5luuqgbck</string>
	<key>API_KEY</key>
	<string>AIzaSyAwUP8YfIEP2m4yyuve4cVZcWLdZWWSBLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>88774670639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterRegistrationApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-registration-549d9</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-registration-549d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88774670639:ios:b56f1ff5e5ca01286a49da</string>
</dict>
</plist>